[Desktop Entry]
Type=Application
Name=Nebula Music
Comment=Reproductor de musica local moderno
Exec=appNebulaTahoe
Icon=com.nebula.Tahoe
Terminal=false
Categories=AudioVideo;Player;Qt;
